@import url("https://fonts.googleapis.com/css?family=Molle:400i");

html, body {
    margin: 0;
    padding: 0;
    text-align: center;
    overflow-x: hidden;
}

main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 5px;
}

#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(117, 114, 113, 0.8) 10%, rgba(40, 49, 77, 0.8) 30%, rgba(29, 35, 71, 0.8) 50%, rgba(19, 25, 28, 0.8) 80%, rgba(15, 14, 14, .8) 100%), url(https://38.media.tumblr.com/tumblr_m00c3czJkM1qbukryo1_500.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    z-index: -1;
}

header {
    width: 250px;
    margin: auto;
    color: white;
    font-family: "Molle", cursive;
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 2px solid white;
    border-radius: 10px;
    overflow: hidden;
    perspective: 1000px;
}
  
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
  
.flip-card:focus .flip-card-inner {
    transform: rotateY(180deg);
}
  
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}
  
.flip-card-front {
    background-color: #832e2e;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: "Molle", cursive;
}
  
.flip-card-back {
    background-color: white;
    color: #832e2e;
    transform: rotateY(180deg);
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul, li {
    text-align: left;
}

@media screen and (max-width: 900px) {

    main {
        margin-top: 150px;
        grid-template-columns: 100%;
    }
}